*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6; 
}

body {
    min-height: 100%;
    background-color: #eee;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
}

.logo {
    font-size: 24px;
}

.navbar-links-desktop {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links-desktop li {
    padding: 0 15px;
}

.navbar-links-desktop a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.navbar-links-desktop a:hover{
    color: darkcyan;
}
