body, 
html{
    margin: 0;
    padding: 0;
    font-family: Arial;
    height: 100%;
    box-sizing: border-box;
    text-align: justify;
}

body {
    background-position: center;
    background-size: cover;
    background-color: rgba(245, 245, 245, 0.521);
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
}

.logo {
    font-size: 24px;
}

.navbar-links-desktop {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links-desktop li {
    padding: 0 15px;
}

.navbar-links-desktop a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.navbar-links-desktop a:hover{
    color: darkcyan;
}

.container {
    text-align: justify;
    margin: 25px;
}

.title {
    text-align: center;
}

.picture{
    text-align: center;
}